<h1 mat-dialog-title>{{ author ? 'Editar' : 'Novo' }} autor</h1>
<div mat-dialog-content>
  <form [formGroup]="authorForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        id="nome"
        formControlName="nome"
        placeholder="Como chama-se o autor"
      >
      <mat-error>
        <app-info-erro-campo [control]="authorForm.controls['nome']"></app-info-erro-campo>
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancelar</button>
  <button mat-button [disabled]="authorForm.invalid" (click)="salvar()" class="btn btn-primary">Salvar</button>
</div>
