<h1 mat-dialog-title>{{ publisher ? 'Editar' : 'Novo' }} editora</h1>
<div mat-dialog-content>
  <form [formGroup]="publisherForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        id="nome"
        formControlName="nome"
        placeholder="Como chama-se a editora"
      >
      <mat-error>
        <app-info-erro-campo [control]="publisherForm.controls['nome']"></app-info-erro-campo>
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancelar</button>
  <button mat-button [disabled]="publisherForm.invalid" (click)="save()" class="btn btn-primary">Salvar</button>
</div>
