<a style="margin-right: 16px" [routerLink]="'login'">login</a>
<a style="margin-right: 16px" [routerLink]="'logout'">logout</a>
<a style="margin-right: 16px" [routerLink]="'me'">me</a>
<a style="margin-right: 16px" [routerLink]="'authors'">authors</a>
<a style="margin-right: 16px" [routerLink]="'genres'">genres</a>
<a style="margin-right: 16px" [routerLink]="'locations'">locations</a>
<a style="margin-right: 16px" [routerLink]="'publishers'">publishers</a>
<a style="margin-right: 16px" [routerLink]="'items'">items</a>
<br>
<router-outlet></router-outlet>
