<h1 mat-dialog-title>{{ genre ? 'Editar' : 'Novo' }} gênero</h1>
<div mat-dialog-content>
  <form [formGroup]="genreForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        id="description"
        formControlName="description"
        placeholder="Descrição"
      >
      <mat-error>
        <app-info-erro-campo [control]="genreForm.controls['description']"></app-info-erro-campo>
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancelar</button>
  <button mat-button [disabled]="genreForm.invalid" (click)="save()" class="btn btn-primary">Salvar</button>
</div>
