<ng-adsense></ng-adsense>

<div *ngIf="(auth.user | async) as user" class="container">

  <div class="avatar mat-elevation-z3">
    <img [src]="user.photoUrl" [alt]="user.name">
  </div>

  <div class="name">
  <h1>{{ user.name }}</h1>
  <p>{{ user.email }}</p>
  </div>

  <div class="card mat-elevation-z3">
    <h2>Estatísticas</h2>
    <p>Items: <strong>{{ stats?.items?.count }}</strong></p>
    <p>Autores: <strong>{{ stats?.authors?.count }}</strong></p>
    <p>Gêneros: <strong>{{ stats?.genres?.count }}</strong></p>
    <p>Editoras: <strong>{{ stats?.publishers?.count }}</strong></p>
    <p>Locais: <strong>{{ stats?.locations?.count }}</strong></p>
  </div>
</div>
